* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primaria: #B6FFB2;
    --fundo: #000000;
    --texto: #000000;
}

.darkmode {
    --primaria: #48fa3f;
    --fundo: #ffffff;

}

body {
    background-color: var(--fundo);
    color: var(--texto);
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141414;
    border-bottom: 2px solid var(--primaria);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: var(--primaria);
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primaria)
}


.nav-links {
    display: flex;
    width: 100%;
}

.nav-links ul {
    display: flex;
    gap: 20px;
}

.theme-switch {
    opacity: 0;
}

#theme-toggle {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

#theme-toggle i {
    display: none;
}


body:not(.darkmode) #moon-icon {
    display: block;
}


body.darkmode #sun-icon {
    display: block;
}



a {
    text-decoration: none;
    color: var(--primaria);
}

#inicio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

#area-inicio {
    padding-top: 5%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85vh;
}

#area-foto {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#foto {
    border-radius: 10px;
    height: 60vh;
    width: 50%;
    margin-right: 10%;
    background-image: url(foto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 1s;
}

#escrito-inicio {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

#escrito-inicio h1 {
    color: var(--primaria);
    font-size: 4rem;
    width: 60%;
}

#escrito-inicio h1 p {
    font-size: 2.5rem;
}

#fade-text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-top: 20px;
    color: var(--primaria);
}

#sobremim {
    width: 100%;
    min-height: 100vh;
    /* Garante que a seção ocupe toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
    /* Adiciona mais espaçamento na parte inferior */
}

#sobremim h1 {
    font-size: 2.5rem;
    color: var(--primaria);
}

#area-sobremim {
    width: 70%;
    min-height: 50vh;
    background-color: var(--primaria);
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

#area-sobremim h1 {
    font-size: 2rem;
    color: #000;
}

#area-sobremim p {
    font-size: 1.5rem;
    color: #000;
    text-align: justify;
    line-height: 1.6;
    /* Ajusta o espaçamento entre as linhas do texto */
    margin-top: 10px;
}

#area-sobremim:hover {
    transform: scale(1.01);
}

.area-proxima {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.proximapagina {
    border-radius: 50%;
    width: 4%;
    height: 8vh;
    background-color: var(--primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proximapagina img {
    width: 80%;
    height: 6vh;
}

#Habilidades {
    width: 100%;
    height: 100vh;
}

#Habilidades h1 {
    font-size: 2.7rem;
    color: var(--primaria);
    padding-top: 5%;
    margin-left: 5%;
}


#area-habilidade {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
}

.quadrado-habilidade {
    background-color: var(--primaria);
    width: 26%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: ease 0.5s;
}

.quadrado-habilidade:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
    transform: scale(1.01);
}

#area-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

#area-img img {
    width: 20%;
    justify-self: center;
}

.quadrado-habilidade h2 {
    color: var(--texto);
    text-align: center;
}

#projetos {
    padding: 50px 10%;
    text-align: center;
}

#projetos h2 {
    color: var(--primaria);
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: left;
}

.area-projeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.projeto {
    background-color: var(--primaria);
    padding: 20px;
    width: 48%;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;
}

.projeto:hover {
    transform: scale(1.05);
}

.projeto-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 10px;
}

.projeto:hover .projeto-img {
    transform: scale(1.02);
    opacity: 0.8;
}

.projeto h3 {
    font-size: 1.8rem;
    color: #000;
}

.projeto p {
    font-size: 1.2rem;
    color: #000;
    margin: 10px 0;
}

.ver-btn {
    display: inline-block;
    background-color: #000;
    color: var(--primaria);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.ver-btn:hover {
    background-color: #333;
}


#contato {
    padding: 50px 10%;
    text-align: center;
}

#contato h2 {
    color: var(--primaria);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.area-form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-self: center;
    gap: 2%;
    background-color: var(--primaria);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.area-form:hover {
    transform: scale(1.01);
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #000000;
    color: var(--primaria);
}

form textarea {
    height: 150px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.icons a {
    color: #000;
    font-size: 1.8rem;
    text-decoration: none;
    transition: color 0.3s;
}

.icons a:hover {
    color: rgb(49, 48, 48);
}

button {
    background-color: #000;
    color: var(--primaria);
    padding: 15px 30px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #141414;
    color: var(--primaria);
    text-align: center;
    gap: 10px;
}

#footer p {
    font-size: 1.5rem;
    color: var(--primaria);
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: var(--primaria);
    font-size: 1.8rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: rgb(49, 48, 48);
}



@media screen and (max-width: 1024px) {


    #inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #area-inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    #foto {
        background-image: url('foto.jpeg');
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
        border-radius: 10px;
    }

    #escrito-inicio {
        color: var(--primaria);
    }

    #escrito-inicio h1 {
        width: 100%;
        font-size: 3rem;
    }

    #sobremim {
        padding: 50px 5%;
    }

    #area-sobremim {
        width: 90%;
    }

    #area-sobremim h1 {
        font-size: 2.2rem;
    }

    #area-sobremim p {
        font-size: 1.6rem;
    }

    #Habilidades {
        padding: 50px;
        text-align: center;
    }



    #area-habilidade {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
    }

    .quadrado-habilidade {
        background-color: var(--primaria);
        width: 30%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    #projetos {
        padding: 50px;
        text-align: center;
    }

    .area-projeto {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .projeto {
        background-color: var(--primaria);
        width: 48%;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
    }

    .projeto-img {
        width: 100%;
        height: 150px;
        object-fit: contain;
    }

    #contato {
        padding: 50px;
        text-align: center;
    }

    .area-form {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    form input,
    form textarea {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
    }

    button {
        background-color: #000000;
        color: var(--primaria);
        padding: 15px;
        border: none;
        border-radius: 5px;
    }

    .icons a {
        color: black;
        font-size: 2rem;
    }

    #footer {
        padding: 20px;
        text-align: center;
        background-color: #141414;
        color: var(--primaria)
    }
}

@media screen and (max-width: 768px) {



    #area-inicio {
        flex-direction: column;
    }

    #foto,
    #escrito-inicio {
        width: 100%;
        text-align: center;
    }

    #sobremim {
        padding: 40px 5%;
    }

    #area-sobremim {
        width: 100%;
        padding: 20px;
    }

    #area-sobremim h1 {
        font-size: 2rem;
    }

    #area-sobremim p {
        font-size: 1.5rem;
    }

    .projeto {
        width: 100%;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 46px;
        right: 0;
        background-color: #141414;
        width: 100%;
        text-align: center;
        gap: 10px;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .nav-links.active {
        display: block;

    }

    .hamburger {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: var(--primaria)
    }
.quadrado-habilidade{width: 40%;}
}

@media screen and (max-width: 480px) {
    #sobremim {
        padding: 30px 5%;
    }

    #area-sobremim {
        width: 100%;
        padding: 15px;
    }

    #area-sobremim h1 {
        font-size: 1.8rem;
    }

    #area-sobremim p {
        font-size: 1.4rem;
    }
}



.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: var(--primaria);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primaria);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#foto.neon-glow {
    box-shadow: 0 0 20px 10px rgba(182, 255, 178, 0.8), 0 0 30px 15px rgba(182, 255, 178, 0.8);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    padding: 2%;
    position: absolute;
    text-align: center;
    color: black;
    border: 1.5px solid;
    border-radius: 3px;
    background-color: var(--primaria);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botaofechar {
    background-color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.bounce {
    opacity: 1;
    transform: translateY(0);
    animation: bounce 1s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(-50px);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}